* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 90vh;
  width: 100%;
}

.start {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: yellow;
}

.start .start_tile {
  font-size: 45px;
  width: 100%;
  height: 200px;
  text-shadow: 2px 2px red;
}

.start .start_tile h6 {
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 10px;
}

.start .start_tile h6:hover {
  background-color: red; /* Green */
  color: white;
}

.start .start_list h1 {
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.start_list h1:hover {
  background-color: red; /* Green */
  color: white;
}

.rankbox {
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  width: 30%;
  height: 50%;
  bottom: 10px;
  text-align: left;
  border-radius: 10px;
  overflow-y: scroll;
}

.rankbox::-webkit-scrollbar {
  display: none !important;
}
.rank {
  width: 70%;
  display: -webkit-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #212121;
}

.arrowtext {
  position: absolute;
  color: white;
  left: 13%;
  top: 8%;
}

.arrow {
  position: absolute;
  font-size: 40px;
  background-color: white;
  color: #212121;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  left: 10%;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colock {
  font-size: 40px;
  color: aliceblue;
}

.game {
  width: 90%;
  height: 200px;
  border: 1px solid white;
  background-color: whitesmoke;
  border-radius: 10px;
}

.pepole {
  width: 20px;
  height: 50px;
  line-height: 70px;
  position: relative;
  top: 150px;
  left: 50px;
  font-size: 30px;
}

.pepole .fa-running {
  margin-bottom: 0px;
}

.jump {
  animation-name: jump;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  40% {
    top: 80px;
  }
  50% {
    top: 70px;
  }
  70% {
    top: 80px;
  }
  100% {
    top: 150px;
  }
}

.sliding {
  animation-name: sliding;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

@keyframes sliding {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(100deg);
  }
  70% {
    transform: rotate(100deg);
    margin-left: 0;
  }
  90% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(100deg);
    top: 170px;
  }
}

.block {
  width: 20px;
  height: 20px;
  color: black;
  position: relative;
  top: 130px;
  left: 100%;
  right: 100px;
  animation-name: block;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes block {
  0% {
    right: 0px;
  }
  25% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(100deg);
  }

  50% {
    transform: rotate(200deg);
  }

  100% {
    transform: rotate(360deg);
    left: 0px;
  }
}

.block_2 {
  width: 20px;
  height: 20px;
  color: black;
  position: relative;
  top: 80px;
  left: 100%;
  right: 100px;
  animation-name: block;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes block_2 {
  0% {
    transform: rotate(100deg);
    right: 0px;
  }
  50% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(360deg);
    left: 0px;
  }
}

.gamepage {
  display: none;
}

.page_back {
  display: none;
}

.list {
  display: none;
}

.fa-caret-square-up.up {
  color: red;
}

.fa-caret-square-down.down {
  color: red;
}
